header{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0.5rem 0rem;
}
.nav{
    padding: 0.3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    list-style-type: none;
}
.logo{
    font-size: 30px;
    color: #000;
}
.nav__ul li a{
    font-size: 20px;
}
.orange{
    color: #EA7C69;
}
.blacks{
    color: black;
}