.logo{
    color: #fff;
}
.logo h3{
    padding-bottom: 0.2rem;
}
.logo p{
    font-size: 20px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{
    margin-top: 1rem;
    padding: 0rem 1rem;
    background:#393C49;
    border-radius: 10px;
    display: flex;
    align-items: center;
    outline: 3px solid transparent;
    transition: 0.5s ease;
}
.search input{
    background: transparent;
}
.search input:focus{
    outline: 3px solid transparent;
}
.search:hover{
    outline: 3px solid var(--orange);
}