.hot{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 0rem;
    flex-wrap: wrap;
}
.hot .card{
    width: 30%;
    margin-top: 1rem;
}
.hot .card h2{
    font-size: 23px;
    padding: 0rem;
}
.hot .card{
    position: none!important;
}
.hot .card img{
    position: none!important;

}
.hot .card-text{
    padding-top: 1.5rem;
}
.hot .card {
    position: inherit;
}
.hot .card img{
    position: initial;
    padding: 0;
}